option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: euth_wagtail/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: euth_wagtail.settings.aws

packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    libffi-devel: []
container_commands:
  00buildstatic:
    command: "npm install && npm run build"
  01collectstatic:
    command: "django-admin.py collectstatic --noinput"
  10migrate:
    command: "django-admin.py migrate"
    leader_only: true
